.selection {
    position: relative;
    cursor: pointer;
    font-family: "IRAN Sans Light","IRANSans";
    background: #F2F3F4;
    border-radius: 4px;
    margin-left: 16px;

    &.show {
        background: #DDD;

        [data-toggle] {
            &::after {
                font-family: "Material Design Icons";
                content: '\f143';
                border: 0;
                width: 0;
                height: 0;
                font-size: 18px;
                vertical-align: sub;
                margin-right: 0.255em;
            }
        }
    }

    [data-toggle] {
        height: 36px;
        line-height: 2;
        padding: 0 15px;

        &::after {
            font-family: "Material Design Icons";
            content: '\f140';
            border: 0;
            width: 0;
            height: 0;
            font-size: 18px;
            vertical-align: sub;
            margin-right: 0.255em;
        }

        .selection-btn.clean {
            display: none;
            border: 0;
            outline: 0;
            color: red;
            margin: 0;
            padding: 0 4px;
            font-size: 16px;
            text-align: center;
            vertical-align: sub;
            background: transparent;

            &.show {
                display: inline-block !important;
            }
        }
    }

    .selection-caption {
        .selection-tag {
            &::after {
                content: "، ";
            }

            &:last-child {
                &::after {
                    content: '';
                }
            }
            &.number {
                display: inline-block;
                min-width: 20px;
                height: 20px;
                padding: 0 2px;
                color: #ffffff;
                font-size: 12px;
                line-height: 1.6;
                text-align: center;
                border-radius: 10px;
                background-color: #008489;
            }
        }
    }
}

.selection-dropdown {
    position: absolute;
    top: 110%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 220px;
    margin: 0.125rem 0 0;
    font-size: 1.3rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 14px 36px 2px rgba(0, 0, 0, 0.15);

    &.show {
        display: block !important;
    }

    .selection-input-group {
        width: 100%;
        display: flex;

        .selection-input {
            width: 100%;
            border: 0;
            margin: 5px;
            outline: none;
            padding: 7px 10px;
            border-radius: 4px;
            background-color: #F2F3F4;
        }

        .selection-input-min,
        .selection-input-max {
            display: inline-flex;
            margin: 0 2px;
            width: 50%;
            outline: none;
        }

        .dash {
            font-size: 1.5em;
            padding-top: 7px;
        }
    }

    .selection-action-group {
        display: table;
        width: 100%;
        cursor: default;
        padding: 5px;
    }

    .selection-list {
        min-width: 100%;
        font-size: 1.3rem;
        color: #212529;
        text-align: right;
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: 280px;
        overflow: auto;

        &.multiple {
            .selection-item {
                &:before {
                    font-family: 'Material Design Icons';
                    content: '\f131';
                    color: #D5D5D5;
                    padding-left: 10px;
                    font-size: 1.5em;
                    line-height: 1;
                    vertical-align: sub;
                }
            }
        }

        &.min {
            text-align: right;
        }

        &.max {
            text-align: left;
        }

        .selection-item {
            display: block;
            width: 100%;
            padding: 0.5rem 1.5rem;
            clear: both;
            font-weight: normal;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background: none;
            border: 0;

            &:focus, &:hover {
                color: #16181b;
                text-decoration: none;
                background-color: #f8f9fa;
            }

            /*&.active, &:active {
                color: #fff;
                text-decoration: none;
                background-color: #007bff;
            }*/

            &.disabled, &:disabled {
                color: #868e96;
                background: transparent;
            }

            .checkbox {
                width: 15px;
                height: 15px;
                border: 1px solid #868e96;
                margin: 0 0.25em 0 0;
                padding: 0;
            }

            &.checked {
                &:before {
                    font-family: 'Material Design Icons';
                    padding-left: 10px;
                    content: '\f132';
                    color: #1ec56b;
                    font-size: 1.5em;
                }

                .checkbox {
                    background-color: #1b6d85;
                    border-color: #1b6d85;
                }
            }
        }
    }

    .selection-action-group {
        .selection-action {

            &.accept {
                color: #1ec56b;
                font-weight: 500;
                background: none;
            }

            &.reset {
                color: #BBB;
                background: none;
            }

            &.new {
                display: none;
                background: red;

                &.show {
                    display: block;
                }
            }
        }

    }
}